{% extends 'base.html.twig' %}

{% block title %}Create IP!{% endblock %}

{% block body %}


    <div>

        My page

    </div>

    <div>
        {{ renderBlock('App\\Module\\Main\\Block\\Widget\\ClientList') }}
    </div>
    <div>
        {{ renderBlock('App\\Module\\Test\\Block\\Test') }}
    </div>
    <div>
        {{ renderBlock('App\\Module\\Main\\Block\\Widget\\ClientList') }}
    </div>
    <div>
        {{ renderBlock('App\\Module\\Main\\Block\\Widget\\ClientList') }}
    </div>




{% endblock %}
